body {
  font-family: 'Montserrat', sans-serif;
}

.head {
  padding: 70px;
  text-align: center;
  background: black;
  color: white;
}

.head h1 {
  font-size: 40px;
  text-decoration: underline;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: floralwhite;
  color: black;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.contenuCOLONNE {
  display: flex;
  flex-wrap: wrap;
}

.cote {
  flex: 60%;
  background-color: grey;
  padding: 20px;
  height: 510px;
}

.principal {
  flex: 40%;
  background-color: #BEBEBE;
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .contenuCOLONNE {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.imgCode {
  height: 70%;
  width: 70%;
}

.principal h1 {
  text-decoration: underline;
}

.cote h1 {
  text-decoration: underline;
}

.principal h4 {
  font-weight: bold;
}

.footer {
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
}