/* Style of the page */

body {
    background-image: url("Assets/wallpaper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* Navigation bar */

#navbar {
    position: fixed;
    font-family: 'Quicksand', sans-serif;
    margin: -10px -10px -10px;
    padding-top: 10px;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 2;
}


/* Navbar links */

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 17px;
    text-decoration: none;
    font-size: 17px;
}


/* Navbar links on hover */

#navbar a:hover {
    color: hotpink;
}

#active {
    color: hotpink;
}


/* Dropdown part */

#dropdown {
    float: left;
    overflow: hidden;
}

#dropdown #dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 17px;
    background-color: inherit;
    font-family: inherit;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
}

#dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown:hover #dropdown-content {
    display: block;
}

.text {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 150%;
}

.box {
    border-radius: 25px;
    float: none;
    margin: 3em auto auto auto;
    width: 40%;
    height: fit-content;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 130%;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.picture {
    border-radius: 25px;
    width: 80%;
    height: auto;
}

.mainbox {
    text-align: center;
    margin: auto;
    margin-top: 5rem;
    height: 10rem;
    width: 40%;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.logo {
    height: 150px;
    width: 150px;
    background: url("Assets/logo.png");
    background-size: cover;
    background-position: center;
    margin-right: 20em;
}

#icons {
    transition: transform .2s;
    font-size: 55px;
    margin-top: 10px;
    padding: 7px;
}

#icons:hover {
    transform: scale(1.5);
}

.boxtext {
    position: static;
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: 10px;
    float: none;
}

.footer {
    float: right;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 3em;
}


/* Make it responsive */

@media screen and (max-width: 600px) {
    #navbar a #dropdown #dropdown-content a {
        float: none;
        display: block;
    }

    .mainbox {
        height: auto;
        width: auto;
    }

    .box {
        height: auto;
        width: auto;
        float: none;
        margin-left: 3px !important;
        margin-right: 3px !important;
    }

    #dropdown {
        display: none;
    }

    #icons {
        font-size: 45px;
    }
}

::-moz-selection {
    color: #ff00bc;
}

::selection {
    color: #ff00bc;
}

a:link {
    color: orange;
}

a:visited {
    color: darkorange;
}

a:hover {
    color: #ff00bc;
}

a:active {
    color: blue;
}
